
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Mid)

    <div>
        <label>Movie Name:</label>
        @Html.TextBoxFor(m => m.Moviename)
    </div>
    <div>
        <label>Director Name:</label>
        @Html.TextBoxFor(m => m.DirectorName)
    </div>
    <div>
        <label>Date of Release:</label>
        @Html.TextBoxFor(m => m.DateofRelease, "{0:yyyy-MM-dd}", new { type = "date" })
    </div>
    <button type="submit">Update</button>
}

