
@{
    ViewBag.Title = "MoviesByDirector";
}

<h2>MoviesByDirector</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Director</th>
        <th>Release Date</th>
    </tr>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Mid</td>
            <td>@m.Moviename</td>
            <td>@m.DirectorName</td>
            <td>@m.DateofRelease.ToShortDateString()</td>
        </tr>
    }
</table>
